altgraph==0.17.2
asgiref==3.8.1
async-timeout==4.0.3
attrs==24.2.0
auto-py-to-exe==2.19.0
autobahn==24.4.2
Automat==24.8.1
awsebcli==3.21.0
bidict==0.23.1
blessed==1.20.0
botocore==1.35.54
bottle==0.12.19
bottle-websocket==0.2.9
cement==2.10.14
certifi==2022.9.24
cffi==1.17.1
channels==4.1.0
channels-redis==4.2.0
charset-normalizer==2.1.1
colorama==0.4.6
constantly==23.10.4
cryptography==43.0.1
daphne==4.1.2
distlib==0.3.9
# Django==5.1.1
Django==4.2
python-dotenv==0.21.0
Eel==0.12.4
filelock==3.16.1
future==0.18.2
gevent==24.10.3
gevent-websocket==0.10.1

gunicorn==23.0.0
h11==0.14.0
hyperlink==21.0.0
idna==3.4
incremental==24.7.2
jmespath==1.0.1
macholib==1.16
modulegraph==0.19.2
msgpack==1.1.0
packaging==24.2
pathspec==0.10.1
platformdirs==4.3.6
pyasn1==0.6.1
pyasn1_modules==0.4.1
pycparser==2.22
pygame==2.1.2
# pyinstaller==5.0.1
pyinstaller==6.10.0
# pyinstaller-hooks-contrib==2022.4
pyinstaller-hooks-contrib>=2024.8
pyOpenSSL==24.2.1
